@import "siimple";

$baseColor: #ffffff;

html, body {
  background: $baseColor;
  margin: 0;
  padding: 0;

  h1 {
    font-size: 8vmin;
    text-align: center;
  }

  span {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@import "login";
