$baseColor: #fff;

body {
  background: $baseColor;

  h1 {
    font-size: 8vmin;
    text-align: center;
  }

  span {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@import "footer";
